.bg-dark {
    background-color: #222f3e;
    padding: 0.5rem 2rem;
    height: 50px;
    display: flex;
    align-items: center
}

.bg-light-dark {
    background-color: #364759;
    padding: 0.5rem 2rem;
    height: 30px;
    display: flex;
    align-items: center;
}

.color-white {
    color: #f9ffff;
}

header img{
    height: 40px;
}
header {
    width: 100%;
}

.bg-light-dark span { 
    margin-right: 1rem;
    display: inline-block; 
}

.bg-orange {
    background-color: #f56600; 
    margin-top: 32px; 
    height: 40px;
    width: 92%;
    padding: 0.5rem;
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 30px; 
    font-family: Arial, Helvetica, sans-serif;
    
}
#bg-image {
    background-image: url('/assets/bg-image.png');
    background-size: cover;  
    width: 92%;  
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto 30px;
    background-position: center;
    padding: 3rem 0;
}


.image-gallery {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.gallery-item {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.gallery-item img {
    width: 304px; 
    height: 379px; 
    object-fit: cover; 
    border-radius: 20px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}
.footer {
    width: 100%; 
    text-align: center; 
  }

  #back-to-top {
    padding: 1rem; 
    text-align: center;
    display: block;
  }

  #footer-logo {
    padding: 4rem; 
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #footer-logo img {
    height: 40px
  }

  .card-squad {
    width: 20%;
    height: 20%;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 60px;
  }
  
 .card-header h2 {
    font-size: 21px;
    font-weight: bold;
    text-align: left;
 }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    padding: 10px 0;
  }
  
  .quadrant-container img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

  .cards-row {
    display: flex; 
    justify-content: space-between; 
    gap: 15px; 
    flex-wrap: wrap; 
    margin-top: 2rem; 
    padding: 0 20px; 
  }
 .card-footer{
    font-size: 14px;
    color: rgba(97, 221, 211, 0.904);
    cursor: pointer;
 }
 .img_container{
  text-align: center;
  margin-bottom: 10px;
 }
 
 #img-fw {
  width: 50%;
  height: auto;
 }
 

 
 
  
 